<%- include('../layouts/userHeader.ejs') %>
      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>ALL ORDERS</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb float-right">
                <li>
                  <a href='/'>Home</a>
                </li>
                <li class="active">ALL ORDERS</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group me-0" role="group" aria-label="...">
                <a class='btn btn-default' href='/Profile'><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
                <a class='btn btn-default' href='/address'><i class="fas fa-map-marker-alt" aria-hidden="true"></i>My Address</a>
                <a href="javascript:void(0)" class="btn btn-default active"><i class="fa fa-list" aria-hidden="true"></i>All Orders</a>
                <a class='btn btn-default' href='account-wishlist.html'><i class="fa fa-gift" aria-hidden="true"></i>Wishlist</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="innerWrapper">
                <div class="orderBox text-nowrap mb-0">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Date</th>
                          <th>Items</th>
                          <th>Total Price</th>
                          <th><a class='text-white' href='account-single-order.html'>Status</a></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a class='text-primary' href='account-single-order.html'>#451231</a></td>
                          <td>March 25, 2021</td>
                          <td>2</td>
                          <td>$99.00</td>
                          <td><span class="badge badge-primary">Processing</span></td>
                          <td><a class='btn btn-sm btn-secondary-outlined' href='/singleorder'>View</a></td>
                        </tr>
                        <tr>
                          <td><a class='text-primary' href='account-single-order.html'>#451231</a></td>
                          <td>March 25, 2021</td>
                          <td>3</td>
                          <td>$150.00</td>
                          <td><span class="badge badge-success">Completed</span></td>
                          <td><a class='btn btn-sm btn-secondary-outlined' href='/singleorder'>View</a></td>
                        </tr>
                        <tr>
                          <td><a class='text-primary' href='account-single-order.html'>#451231</a></td>
                          <td>March 25, 2021</td>
                          <td>3</td>
                          <td>$150.00</td>
                          <td><span class="badge badge-danger">Canceled</span></td>
                          <td><a class='btn btn-sm btn-secondary-outlined' href='/singleorder'>View</a></td>
                        </tr>
                        <tr>
                          <td><a class='text-primary' href='account-single-order.html'>#451231</a></td>
                          <td>March 25, 2021</td>
                          <td>2</td>
                          <td>$99.00</td>
                          <td><span class="badge badge-info">On Hold</span></td>
                          <td><a class='btn btn-sm btn-secondary-outlined' href='/singleorder'>View</a></td>
                        </tr>
                        <tr>
                          <td><a class='text-primary' href='account-single-order.html'>#451231</a></td>
                          <td>March 25, 2021</td>
                          <td>3</td>
                          <td>$150.00</td>
                          <td><span class="badge badge-warning">Pending</span></td>
                          <td><a class='btn btn-sm btn-secondary-outlined' href='/singleorder'>View</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>

</body>

<!-- Mirrored from bigbag-html.netlify.app/account-all-orders by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2023 09:40:49 GMT -->
</html>
<%- include('../layouts/userFooter.ejs') %>


