<%- include('../layouts/userHeader.ejs') %>

<!-- HEADER FORM -->
<div class="header-form-area bg-primary d-md-none">
  <form class="header-form" action="#" method="">
    <div class="input-group">
      <input type="text" class="form-control py-0" required="" id="expire" placeholder="Search...">
      <div class="input-group-append">
        <button class="input-group-text border-0 btn bg-white" type="submit">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.16667 14.8333C11.8486 14.8333 14.8333 11.8486 14.8333 8.16667C14.8333 4.48477 11.8486 1.5 8.16667 1.5C4.48477 1.5 1.5 4.48477 1.5 8.16667C1.5 11.8486 4.48477 14.8333 8.16667 14.8333Z" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.5 16.5L12.875 12.875" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
        </button>
      </div>
    </div>
  </form>
</div>

      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>SINGLE ORDER</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb float-right">
                <li>
                  <a href='/orders'>OrderList</a>
                </li>
                <li class="active">SINGLE ORDER</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="btn-group me-0" role="group" aria-label="...">
                <a href="/orders" class="btn btn-default active"><i class="fa fa-list" aria-hidden="true"></i>All Orders</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="innerWrapper singleOrder">
                <div class="orderBox d-flex align-items-center mb-4">
                  <h2 class="orderBoxContent mb-0">Order #451221</h2>
                  <div class="ms-3">
                    <a class='btn btn-sm btn-primary' href='account-all-orders.html'>Order Details</a>
                  </div>
                </div>

                <div class="orderTracking">
                  <div class="mb-3">
                    <div class="trackingProgress">
                      <div class="progress customProgress">
                        <div class="progress-bar customProgressBar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="trackingProgressContent">
                    <div class="row">
                      <div class="col">
                        <h4>ordered</h4>
                        <h5>18/03/21</h5>
                        <h6 class="mb-0">13:19</h6>
                      </div>
          
                      <div class="col ps-0 pe-2 px-md-3">
                        <h4>ready</h4>
                        <h5>20/03/21</h5>
                        <h6 class="mb-0">15:29</h6>
                      </div>
          
                      <div class="col ps-0 pe-2 px-md-3">
                        <div class="width-lg">
                          <h4>shipped</h4>
                          <h5>20/03/21</h5>
                          <h6 class="mb-0">17:05</h6>
                        </div>
                      </div>
          
                      <div class="col px-0 px-md-3">
                        <div class="float-lg-end ms-md-4 ms-lg-0 me-lg-4">
                          <h4>dispatched</h4>
                          <h5>25/03/21</h5>
                          <h6 class="mb-0">14:00</h6>
                        </div>
                      </div>
          
                      <div class="col">
                        <div class="float-end">
                          <h4>delivered</h4>
                          <h5>30/03/21</h5>
                          <h6 class="mb-0">16:00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="panel panel-default mb-5">
                      <div class="panel-heading">
                        <h4 class="panel-title">Order Details</h4>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-lg-4">
                            <address class="mb-4">
                              <a href="#">Email: adamsmith@bigbag.com</a> <br>
                              <span>Phone: +884 5452 6432</span>
                            </address>

                            <address>
                              <span>Additional Information: </span><br>
                              <p class="mb-5 mb-lg-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                            </address>
                          </div>

                          <div class="col-lg-8 orderTracking">
                            <div class="innerWrapper border-0 p-0 mb-0">
                              <div class="orderBox text-nowrap mb-4">
                                <h4>Updates:</h4>
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Date</th>
                                        <th>Location</th>
                                        <th>Event</th>
                                      </tr>
                                    </thead>
                    
                                    <tbody>
                                      <tr>
                                        <td>Mar 18, 2021</td>
                                        <td>Shyamoli, Dhaka</td>
                                        <td>
                                          Ordered
                                          <h5>Carrier: BD</h5>
                                          <h6>#451221</h6>
                                        </td>
                                      </tr>
                                      
                                      <tr>
                                        <td>Mar 20, 2021</td>
                                        <td>Babor Road, Mohammad pur</td>
                                        <td>
                                          Ready
                                          <h5 class="mb-0">Weating for carrier</h5>
                                        </td>
                                      </tr>
                    
                                      <tr>
                                        <td>Mar 20, 2021</td>
                                        <td>9/4 Road, BD</td>
                                        <td>
                                          Shipped
                                          <h5>Carrier: BD</h5>
                                          <h6>Tracking Nr: L295637</h6>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Mar 25, 2021</td>
                                        <td>Mohammad pur, Shyamoli</td>
                                        <td>
                                          Dispatched
                                          <h5>Carrier: BD</h5>
                                          <h6>Time: 14:00</h6>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Mar 30, 2021</td>
                                        <td>Dhaka, BD</td>
                                        <td>
                                          Delivered
                                          <h5>Carrier: BD</h5>
                                          <h6>Credit Card - VISA</h6>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                    
                              <div class="">
                                <a class='btn btn-primary' href='account-all-orders.html'>Back to order details</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 mb-5">
                    <div class="cartListInner text-nowrap">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Product Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Sub Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="alert alert-dismissible fade show p-0 mb-0" role="alert">
                              <td class="">
                                <button type="button" class="close me-4 p-0 top-0" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <span class="cartImage"><img src="assets/img/products/cart-image01.jpg" alt="image"></span>
                              </td>
                              <td class="">Perfumes</td>
                              <td class="">$ 23.00</td>
                              <td class="">1</td>
                              <td class="">$ 23.00</td>
                            </tr>
    
                            <tr class="alert alert-dismissible fade show p-0 mb-0" role="alert">
                              <td class="">
                                <button type="button" class="close me-4 p-0 top-0" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <span class="cartImage"><img src="assets/img/products/cart-image02.jpg" alt="image"></span>
                              </td>
                              <td class="">Watches</td>
                              <td class="">$ 43.00</td>
                              <td class="">1</td>
                              <td class="">$ 43.00</td>
                            </tr>
    
                            <tr class="alert alert-dismissible fade show p-0 mb-0" role="alert">
                              <td class="">
                                <button type="button" class="close me-4 p-0 top-0" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <span class="cartImage"><img src="assets/img/products/cart-image03.jpg" alt="image"></span>
                              </td>
                              <td class="">shoes</td>
                              <td class="">$ 33.00</td>
                              <td class="">1</td>
                              <td class="">$ 33.00</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="row totalAmountArea">
                        <div class="col-sm-5 ms-sm-auto">
                          <ul class="list-unstyled">
                            <li>Sub Total <span>$ 99.00</span></li>
                            <li>UK Vat <span>$ 18.00</span></li>
                            <li>Grand Total <span class="grandTotal">$ 117.00</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">Billing Address</h4>
                      </div>
                      <div class="panel-body">
                        <address>
                          <strong>Adam Smith</strong><br>
                          9/4 C Babor Road, Mohammad pur, <br>
                          Shyamoli, Dhaka <br>
                          Bangladesh
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">Shipping Address</h4>
                      </div>
                      <div class="panel-body">
                        <address>
                          <strong>Adam Smith</strong><br>
                          9/4 C Babor Road, Mohammad pur, <br>
                          Shyamoli, Dhaka <br>
                          Bangladesh
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">Payment Method</h4>
                      </div>
                      <div class="panel-body">
                        <address>
                          <span>Credit Card - VISA</span>
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">Shipping Method</h4>
                      </div>
                      <div class="panel-body">
                        <address>
                          <span>Post Air Mail</span>
                        </address>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default">Print</button>
                      <button type="button" class="btn btn-default">Save to pdf</button>
                      <button type="button" class="btn btn-danger">cancel order</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



</body>

<!-- Mirrored from bigbag-html.netlify.app/account-single-order by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2023 09:40:49 GMT -->
</html>

<%- include('../layouts/userFooter.ejs') %>